{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Magpie Site' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Welcome to M.A.G.P.I.E'  %}</h1>
{% endblock %}

{% block content %}
{% if question_list %}
<h2>Questions:</h2>
<form action="/" method="post">
{% csrf_token %}
<ol>
{% for question in question_list %}
    <li>{{ question.text }}
    <input type="radio" name='answer_{{question.id}}' value="y">Yes
    <input type="radio" name='answer_{{question.id}}' value="n">No
    </li>
{% endfor %}
</ol>
<input type="submit" value="Submit" />
</form>
{% else %}
    <p>There are no more questions!</p>
{% endif %}
{% if recommend_list %}
<h2>Recommmendations:</h2>
<ol>
{% for rec in recommend_list %}
    <li>{{ rec.text }}</li>
{% endfor %}
</ol>
{% endif %}
{% endblock %}
