{% extends "base.html" %}
{% block title %}Title text{% endblock %}
{% block content %}
 
{% if form.errors %}
<p class="error">Invalid input</p>
{% endif %}
<form method="post" action="/register/account/">
{% csrf_token %}
<table class="entryTable">
<tbody>
{{ form.as_table }}
<br><br>
<tr><td class="buttons" colspan="2">
<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" value="Submit"/>
<input type="submit" name="cancel" value="Cancel"/>
</td></tr>
</tbody>
</table>
</form>
{% endblock %}
