{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Magpie Site' %}{% endblock %}

{% block content %}
<div class="box">
<h2>All Done</h2>

<form action={% url knowledge.views.done %} method="post">
<div id="content">
{% csrf_token %}
<input type="submit" value="Done" />
</div>
</form>
</div>
{% endblock %}

{% block sidebar %}
{% if recommend_list %}
{% load customFilters %}
<div class="box">
<h2>Recommmendations</h2>
<ol>
{% for rec in recommend_list %}
    <li>{{ rec.text }}
    <ol>
    {% for link in rec.links %}
        <li><a href={{link.1}}>{{link.0}}</a> </li>
        {%if link.1|contains:"http://www.youtube.com/watch?v="%}
            {% with sliced=link.1|lslice:"31" %}
                {% with yTubeEmbed="\"http://www.youtube.com/embed/"|add:sliced|add:"\"" %}
                    <iframe width="470" height="360" src={{yTubeEmbed|safe}} frameborder="0" allowfullscreen></iframe> 
                {% endwith %}
            {% endwith %}
        {% endif %}
        {%if link.1|isImg %}
            <img src={{link.1}} />
        {% endif %}
    {% endfor %}
    </ol>
    {% if rec.pmlPath != None %}
    {% with pmlReq="\"pmlGraph?path="|add:rec.pmlPath|add:"\"" %}
        <img src={{pmlReq|safe}} />
    {% endwith %}
    {% endif %}
    {% if rec.pmlDesc != None %}
        {{rec.pmlDesc|safe}}
    {% endif %}
    {% if rec.vidLink != None %}
        <a class="vidPlayer"
             href={{rec.vidLink|safe}}
			 style="display:block;width:470px;height:360px"> 
		</a> 
        <script>
			flowplayer("a.vidPlayer", "{% load adminmedia %}{% admin_media_prefix %}flowplayer-3.2.7.swf");
		</script>
    {% endif %}
    </li>
{% endfor %}
</ol>
		<!-- this will install flowplayer inside previous A- tag. -->
</div>
{% endif %}
{% if reason_list %}
<div class="box">
<h2>Reasons</h2>
<ol class="treeview">
{% for reason in reason_list %}
    <li>{{ reason.text }}</li>
    <ol>
    {% for qa in reason.qa_list %}
        <li>{{ qa.0|add:" You answered - " }} {{ qa.1|yesno:"Yes,No" }} </li>
    {% endfor %}
    </ol>
{% endfor %}
</ol>
</div>
{% endif %}
{% endblock %}
