{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Magpie Site' %}{% endblock %}

{% block content %}
<div class="box">
<h2>Welcome</h2>
<form action={% url index %} method="post">
<div id="content">
<p> Welcome to MAGPIE - the Model Advice Guidance Process Integration Explorer.</p>
<p>Take some time to answer some questions by pressing the Start button below.</p>
<p>If you are a registered user, pressing Start will resume the questioning from where you finished last. Press Reset in the top right corner to reset your progress.</p>
{% csrf_token %}
<input type="submit" value="Start" />
</div>
</form>
</div>
{% endblock %}
